body {
  font-family: Georgia;
  font-weight: 500;
  background-image: url('img/bg.png');
  background-size: cover;
}

hr {
  width: 70%;
  margin: 0 auto;
  border-color: rgb(135, 152, 197);
}

h1 {
  line-height: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 50px
}

h2 {

  text-align: center;
  font-weight: 500;
  font-size: 23px
}

h3 {
  line-height: 0;
  text-align: center;
  font-weight: 500;
  font-size: 15px
}
h4 {
  text-align: center;
}

h5 {
  text-align: left;
  font-size: medium;
}

.box1 {
  width: auto;
  height: auto;
  border: 2.5px solid rgb(135, 152, 197);
  padding-top: none;
  padding: 20px;
  padding-bottom: 40px;
  margin: 20px;
  margin-bottom: 30px;
}

img {
  float: left;
  width: 10%;
  height: 10%;
  object-fit: cover;
  padding-right: 40px;
  padding-bottom: 20px;
}

.green {
  color: rgb(56, 151, 112)
}

p{
  text-indent:10px
}